@import "tailwindcss";

.title {
  font-size: 32px;
  font-weight: 700;
  color: #f60;
  margin-bottom: 24px;
}

.jobs {
  display: grid;
  row-gap: 16px;
}
.post {
  background-color: #fff;
  border: 1px solid #dcdcdc;
  border-radius: 4px;
  padding: 16px;
  display: grid;
  row-gap: 8px;
}
.post_title {
  font-size: 16px;
  font-weight: 700;
  margin-top: 0;
}
.post_metadata {
  font-size: 14px;
  color: #444;
}

.load-more-button {
  background-color: #f60;
  border: none;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  padding: 8px 12px;
  cursor: pointer;
}

